@orange: #f46036;

.margin(@top, @bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.card.mb-2 {
    height: calc(100% - 15px); }
  
  .col .btn-add {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    border-radius: 0;
    background-color: @orange;
    border: none; }
  
  button.btn.btn-primary {
    background-color: @orange;
    border-color: @orange; }
  
  .card.mb-2 .card-body {
    .margin(0,20px)  
   }
  
  .jumbotron {
    background-color: @orange;
    color: #fff;
    border-radius: 0; }
  
  .home-img {
    width: 100%;
    border-radius: 4px;
    height: 400px;
    object-fit: cover;
    object-position: 0 -60px;
    .margin(0,20px)  }
  
  footer {
    background-color: #333;
    color: #fff !important;
    padding: 20px; }
  
  footer a,
  footer p {
    color: #fff !important; }
  