.card.mb-2 {
  height: calc(100% - 15px);
}
.col .btn-add {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  left: 0;
  border-radius: 0;
  background-color: #f46036;
  border: none;
}
button.btn.btn-primary {
  background-color: #f46036;
  border-color: #f46036;
}
.card.mb-2 .card-body {
  margin-top: 0;
  margin-bottom: 20px;
}
.jumbotron {
  background-color: #f46036;
  color: #fff;
  border-radius: 0;
}
.home-img {
  width: 100%;
  border-radius: 4px;
  height: 400px;
  object-fit: cover;
  object-position: 0 -60px;
  margin-top: 0;
  margin-bottom: 20px;
}
footer {
  background-color: #333;
  color: #fff !important;
  padding: 20px;
}
footer a,
footer p {
  color: #fff !important;
}
